pyrogram==1.0.7
termcolor
wikipedia
italian-dictionary
PyDictionary
udpy
translators
unit-converter
google_currency
geopy
requests
pyfiglet
pillow
sympy
matplotlib
pymongo
qrcode
gtts
pydub
SpeechRecognition
zalgo_text
